<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static%}
    <link rel="stylesheet" href="{% static 'snippets/navbar.css' %}" />
    <title>Django Ewallet App</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">Django Ewallet App</div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Accounts</a></li>
        <li><a href="#">Transactions</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>
    <main class="content">
      <!-- Your main content here -->
    </main>
  </body>
</html>
